table, td, tr {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    width: 300px;
    height: 20px;
}

.par {
    background-color: white;
}

.inpar {
    background-color: gray;
}

.title {
    background-color: green;
}